{% extends "layout.html" %}

{% block head %}
<style>
    body{
        background-image: url(/static/img/jess-bailey-q10VITrVYUM-unsplash.jpg);
        background-size: 100%;
    }
    </style>
{% endblock %}
{% block body %}
    <nav>
        <div class="navigation">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/extention">EXTENTION</a></li>
                <li><a href="/about">ABOUT</a></li>
            </ul>
        </div>
        <div class="login">
            <a href="/login">LOGIN</a>
        </div>
    </nav>

    <div class="bye">
        <h1>See You Again</h1>
        <h1>{{name}}</h1>
    </div>
{% endblock %}