{% extends "layout.html" %}

{% block head %}
    <style>
        body{
            background: url(/static/img/back3.jpg);
            background-size: 100%;
        }
    </style>
{% endblock %}
{% block body %}
    <nav>
        <div class="navigation">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/extention">EXTENTION</a></li>
                <li><a href="/about">ABOUT</a></li>
            </ul>
        </div>
        <div class="login">
            <a href="/login">LOGIN</a>
        </div>
    </nav>

    <div class="extmain">
        <h1>Chrome Extention</h1>
        <h1>ComingSoon......</h1>
    </div>
{% endblock %}