{% extends "layout.html" %}

{% block head %}
<!--   <style>
        body{
            background: url(/static/img/back1.jpg);
            background-position: center;
        }
    </style> -->
{% endblock %}
{% block body %}
<nav>
    <div class="navigation">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/extention">EXTENTION</a></li>
            <li><a href="/about">ABOUT</a></li>
        </ul>
    </div>
    <div class="login">
        <a href="/login">LOGIN</a>
    </div>
</nav>


<header>
    <div class="hero-image">
        <div class="hero-text">
            <img width="40%" src="static/img/output-onlinepngtools (1).png" alt="">
            <h1 style="font-size:60px">DigiCare</h1>
            <h3>Your Digital CareTacker</h3>
        </div>
    </div>
</header>

<p>I suspect that there’s a certain personality type that is drawn to programming.
    The type of person that must be solving problems and learning new things, because
    without this drive, it’s hard to get ahead. But this career drive can be a double-edged sword,
    making it difficult to maintain a balance in life and prevent long-term damage to one’s health.
</p>

<main>
    <div class="eyes">
        <img width="100%" src="/static/img/eyes.jpg" alt=""><br>
        <h1>Eyes</h1><br />
        <hr><br />
        <ul>
            <li><b>Test Your Eyes</b>:
                Regular visits to the optometrist will make sure that you aren’t damaging your eyes.</li><br />
            <li><b>Check Your Lighting</b>:
                Making sure that your workspace is properly lighted is important for your mood as well as your eyes.
            </li><br />
            <li><b>Adjust Your Screen</b>:
                Along with making sure the brightness and contrast are appropriate, positioning your computer screen
                somewhere between 16 to 30 inches away and angling it so you are looking at a slight downward angle
                makes it much more comfortable for your eyes and avoids strain. </li><br />
            <li><b>Manage your blue light exposure</b>: specialty lenses that are coated to decrease reflection and
                block the worst of the blue light emanating from your monitor.</li><br />
            <li><b>Protect your eyes with the 20/20/20 rule</b>: The rule is: every 20 minutes, look at something 20
                feet away, for 20 seconds. </li><br />
            <li><a href="https://www.pluralsight.com/blog/software-development/looking-eyes-coding" target="none"><u>For
                        more Info on the topic You can visit this link </u></a></li><br />
        </ul>
    </div>

    <div class="posture">
        <img width="100%" src="/static/img/sitting.jpg" alt=""><br>
        <h1>Posture</h1><br />
        <hr><br />
        <ul>
            <li><b>Shoulders rolled back and relaxed</b></li><br />
            <li><b>Elbows</b> brought back until they are parallel with shoulders (will require a sliding keyboard tray)
            </li><br />
            <li><b>Laptop screen</b> brought up to face height (will require a laptop stand or a few books)</li><br />
            <li><b>Object to support</b> the arch in your back (rolled towel, a cushion or a product)</li><br />
            <li><b>Take a deep breathe </b>and feel the lungs expand to their full capacity (more focus/productivity)
            </li>
            <iframe style="padding-top: 10px;" width="100%" height="250px"
                src="https://www.youtube.com/embed/9FZxTHhE7Lw" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </ul>
    </div>

    <div class="water">
        <img width="100%" src="/static/img/water.jpg" alt=""><br>
        <h1>Drink Water</h1><br />
        <hr><br />
        <ul>
            <li><b>Drink more water</b>:There are lots of scientific reasons why you should drink more water.I’m sure
                you already heard a great part of them.</li><br />
            <li><b>Water helps your kidneys</b>it energizes your muscles, your skin might look better, heck, you might
                even lose weight when you drink more. That’s right. Less weight by drinking more.</li><br />
            <li><b>Here are some ways you can dring more water:</b><br />
                <ol class="list-gap">
                    <li>1.Add flavor to your pitcher.</li>
                    <li>2.Drink a glass after every bathroom break.</li>
                    <li>3.Sip before every meal.</li>
                    <li>4.Use an app to track your cups.</li>
                    <li>4.take it a step further and get a high-tech water bottle.</li>
                    <li>5.Dilute sugary drinks with water and ice.</li>
                    <li>6.Keep a gallon jug nearby.</li>
                    <li>7.Invest in a filter.</li>
                    <li>8.Choose sparkling or mineral water over soda.</li>
                    <li>9.Eat water-rich foods.</li>
                    <li>10.Find out more <a href="https://www.self.com/story/how-to-drink-more-water"
                            target="none"><u>Here</u></a></li>

                </ol>
            </li><br />

        </ul>
    </div>

    <div class="food">
        <img width="100%" src="/static/img/food.jpg" alt=""><br>
        <h1>Maintain Diet</h1><br />
        <hr><br />
        <li><b>Omega 3 Fatty Acids: </b>Food that is rich in omega 3 includes oily fish, such as trout, salmon,
            sardines, and mackerel, flax seeds (For vegetarians), walnuts and other such food items are great for
            improving concentration.</li><br />
        <li><b>Vitamin D Food: </b>Programmers are sedentary desk workers that don’t move around that often. Hence, a
            Vitamin D deficiency is on the cards for those in this profession. Food items like egg yolk, certain
            mushrooms, cheese, Soy products and other such items have a high concentration of Vitamin</li><br />
        <li><b>Fruits and Vegetables: </b>For most of the day, a programmer will have to sit in front of a screen to
            complete his tasks. Because of this, they are prone to straining their eyes. Carrots, beetroots, leafy
            vegetables, almonds, and other citrus fruits come as an aid to those programmers whose eyes are under
            constant strain.</li><br />
        <li><b>Caffeine Products: </b>Programmers must be used to spending long hours and late nights at work. Hence,
            moderate amounts of caffeine are good for prolonged concentration. Besides this, green tea and dark
            chocolate also improve brain function and decrease cell death.</li><br />
    </div>

    <div class="relax">
        <img width="100%" src="/static/img/relax.jpg" alt=""><br>
        <h1>Relax</h1><br />
        <hr><br />
        <li><b>Stress in the mind and body: </b>Stress is a series of physiological and mental changes that happen when
            our body and mind perceive a threat or challenge in our environment.</li><br />
        <li><b>The physical symptoms can include: </b>
            <ol class="list-gap">
                <li>Muscle tension</li>
                <li>Increased heart rate and blood pressure</li>
                <li>Shallow breathing</li>
                <li>Nausea</li>
                <li>A sense of mental busyness</li>
                <li>Narrow attentional focus</li>
                <li>Emotional reactivity</li>
            </ol>
        </li><br />
        <li><b>Perception of threat: </b>An interesting thing about the stress response is that it doesn’t require the
            existence of a real, physical threat. Simply remembering a stressful situation can trigger the physical and
            mental responses. </li><br />
        <li><b>Remove the source: </b>Sometimes it’s necessary and sensible to work on removing the sources of stress in
            your life. Think about what causes you the most stress, and work to do something about it.</li><br />
    </div>

    <div class="break">
        <img width="100%" src="/static/img/break.jpg" alt=""><br>
        <h1>Take Break</h1><br />
        <hr><br />
        <li><b>Why you should take breaks</b>Few people realize this, but you tend to get more done when you step back
            and recharge the brain and body. Studies show that performance increases after breaks of all durations: from
            extended vacations down to microbreaks of 30 seconds.</li><br />
        <li><b>Why you think you don’t have time to take breaks: </b>If you don’t think you have enough time to take
            very short breaks you’re probably spending a lot of time doing things that aren’t productive. It’s important
            to take a step back and ask “Am I doing work that really matters?” A lot of Software Developers, myself
            included, end up doing unnecessary busy work.</li><br />
        <li><b>How to make sure you’re taking the time to recharge</b>The Pomodoro Technique is a simple yet effective
            way to organize how you work. The main idea is that you set a timer for a set amount of time. During that
            time you’re supposed to focus on completing one goal. After that timer goes off you then set another timer
            which will represent a short break. That’s it. One time period for working followed by another timer for
            breaks.</li><br />
        <li><b></b></li><br />
    </div>
</main>

<footer>
    <div class="contact">
        <h3>DigiCare</h3>
        <h3>Digital CareTacker</h3>
    </div>

    <div class="about">
        <h3>CS50 <br> Final Project</h3>
    </div>
</footer>
{% endblock %}