{% extends "layout.html" %}

{% block head %}
<style>
    body{
    background-image: url(/static/img/jess-bailey-q10VITrVYUM-unsplash.jpg);
        background-size: 100%;
    }
    </style>
{% endblock %}
{% block body %}

    <nav>
        <div class="navigation">
            <ul>
               <li><a href="/">HOME</a></li>
                <li><a href="/extention">EXTENTION</a></li>
                <li><a href="/about">ABOUT</a></li>
            </ul>
        </div>
        <div class="login">
            <a href="/login">LOGIN</a>
        </div>
    </nav>
    <div class="logpage">

        <div class="left">
            <!-- <img width="100%" src="/static/img/lock.jpg" alt=""> -->
        </div>

        <div class="right">
            <div class="loginlable">
                <h1 style="font-size: 50px; font-family: 'Courier New', Courier, monospace;">WELCOME</h1><br><br>
                <h1 style="font-size: 30px;">Sign Up</h1><br>
            </div>
            <div class="form">
                <form action="/signup" method="post"> 

                    <div>
                        <!-- <label for="userame">Username</label> -->
                        <input type="text" placeholder="Username" name="username" id="username" autocomplete="off" required>
                    </div>

                    <div>
                        <!-- <label for="password">Password</label> -->
                        <input type="password" placeholder="Password" name="password" id="password" autocomplete="off" required>
                    </div>

                    <div>
                        <!-- <label for="password">Password</label> -->
                        <input type="password" placeholder="Confirm Password" name="cpassword" id="password" autocomplete="off" required>
                    </div>

                    <div>
                    <input type="submit">
                    
                    </div>
                </form>
                {{ msg }}

            </div>
        </div>
    </div>
{% endblock %}