/* Stylesheet created by : Vanaja Chowdari Alla, November 17, 2022   */
@import url("/css/styles.css");
/* Style for body specifies a background color */
body, html {
	height: 100%;
  }
  
  body{
	background-attachment: fixed;
	/* Image Referred from https://unsplash.com/photos/mV32xe8-irU */
	  background-image: url("/images/Drinkware.jpg"); 
	  opacity: 90;
  }

/* Style for container centers the page and sets the element width */
#container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*Styles fo mobile layout*/

/*Style to create a fluid image*/
/*
img {
  max-width: 100%;
}*/
.audio{
  display: flex;
  justify-content: center;
}
/*Style for the header specifies top margin, background color, rounded corners, and center aligns content*/
header {
  /* margin-top: 0.2em;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 12px 12px 12px #404040; */
  text-align: center;

}

/* Style for nav specifies text properties, padding, margins, and borders */
/*
nav {
  font-family: Arial, Georgia, Times New Roman;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  margin-top: -1.5em;
  padding : 15px;
    margin-top : 10px;
    margin-bottom : 10px;
    border-radius : 20px;
    border-top : 5px solid #FFFFFF;
    border-bottom : 5px solid #FFFFFF;
}*/

/*Style specifies padding and margins for unordered lists*/
/*
nav ul {
  padding: 0;
  margin: 0.5em 0;
}
*/

/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies 
margins and padding for list items within the navigation */
/*
nav li {
  background-color: #9D9D93;
  border-radius: 2em;
  list-style-type: none;
  margin: 0.3em;
  padding: 0.4em;
}
*/

/* Style changes navigation link text color to white and removes the underline */
/*
nav li a {
  color: #ffffff;
  text-decoration: none;
}
/*

/* Style displays the mobile class */
.mobile {
  display: inline;
}


/*Style hides the desktop class*/
.desktop {
  display: none;
}

/* Style hides the tablet class */
.tablet {
  display: none;
}

/*Style for the main element specifies a block display, text properties, margins, padding, rounded corners, and border properties*/
main {
  display: block;
  font-family: verdana, arial, sans-serif;
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: 20px;
  padding: 1em;
  border-radius: 2em 0 2em 0;
  background-color: #ffffff;
  opacity: 0.85;
}

/* Style for anchor elements within the main element*/

main a {
  background-color: #9D9D93;
  border-radius: 1em;
  color: #FFFFFF;
  font-weight: bold;
  padding: 0.5em;
  text-decoration: none;
}

/* Style for footer specifies font size, text alignment, and top margin */
footer {
  font-size: 0.7em;
  text-align: center;
  margin-top: 2em;
  color: #FFFFFF;
}

/* Style for anchor elements within the footer element */

footer a {
  color: #FFFFFF;
  text-decoration: none;
}

/* Style rule specifies to not display the equip class */
.equip {
  display: none;
}

ul {
  list-style-position: inside;
  width: 80%;
}

dt {
  font-weight: bold;
}

dd {
  padding-bottom: 20px;
}

/* Style for aside element */

aside {
  font-style: italic;
  background-color: #FFFFFF;
  border-radius: 0 5em 5em 5em;
  box-shadow: 1em 1em 1em #4C4F4D;
  padding: 1.5em;
  margin: 1em;
}

/* Style rule for the video class */
.video {
  padding: 1em;
  text-align: center;
}
/* Style rule for video element */
video {
  border: 0.5em ridge #FFFFFF;
  height: auto;
  max-width: 100%;
}
/* media query for tablet viewports target screen size with a minimum  of 660px */

@media only screen and (max-width: 660px) {

  main article {
    width: 100%;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 660px) {

  .hero {
    height: 23vh;
}
  nav li {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
    border-radius: 0;
    background-color: transparent;
  }

  main {
    clear: left;
    margin-top: -0.3em;
    border-radius: 0;
    overflow: auto;
  }

  /* Style displays the mobile class */
  .mobile {
    display: none;
  }

  /*Style hides the desktop class*/
  .desktop {
    display: inline;
  }

  .equip {
    display: inline;
    float: left;
    margin-right: 1.5em;
  }


  /* Style specifies a bottom margin for the items class */

  .items {
    display: block;
    list-style-position: inside;
    /* margin-bottom: 6em; */
  }

  /* Style specifies to display the tablet class */

  .tablet {
    display: block;
    margin-top: -3em;
    margin-bottom: -1em;
  }

  /* Style specifies a font weight and top margin for description list terms */

  dt {
    font-weight: bold;
    margin-top: 0.7em;
  }

  body {
    background: -moz-lineargradient(#1d1d1c, #1d1d1c);
    /* Firefox */
    background: -o-linear-gradient(#1d1d1c, #1d1d1c);
    /* Opera */
    background: -webkit-lineargradient(#1d1d1c, #1d1d1c);
    /* Chrome, Safari */
    background: linear-gradient(#1d1d1c, #1d1d1c);
    background-attachment: fixed;
  }

  /* Style for images within the figure element */

  h1 {
    text-align: center;
  }

  figure img {
    background-color: #1d1d1c;
    display: inline;
    height: 8em;
    width: 28%;
    margin: 1%;
    padding: 1%;
  }

  /* Style for anchor elements within the figure element */

  figure a {
    background-color: transparent;
    padding: 0;
    text-decoration: none;
  }

  /* Style specifies bottom padding for the section element */

  section {
    padding-bottom: 3em;
  }

  /* Style for h1 element within the section element */

  section h1 {
    text-align: left;
  }

  /* Style for anchor element within the section element */

  section a {
    background-color: transparent;
    color: #1D1D1C;
    font-weight: normal;
    padding: 0;
    text-decoration: underline;
  }

  /* Style for contact class */

  .contact {
    background-color: transparent;
    color: #1D1D1C;
    padding: 0;
    text-decoration: underline;
  }

  /* Style for main h2 element */

  main h2 {
    color: #FFFFFF;
  }

  /* Style for contact class */

  .contact {
    color: #FFFFFF;
  }


  /* Style for table element */

table {
  border: 0.1em solid #000000;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Style specifies border and padding for th and td elements */

th,
td {
  border: 0.1em solid #000000;
  padding: 1em;
}

/* Style for th element */

th {
  background-color: #1D1D1C;
color: #FFFFFF;
}

/* Style for caption element */

caption {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 0.5em;
}

}


/* Media query for desktop viewport targets screens with a minimum width of 1036px. */

@media only screen and (min-width: 1036px) {

  .hero {
    height: 23vh;
}

  main {
    width: 100%;
  }

  #container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  /* Style specifies color and left margin for the section element */

  section {
    color: #FFFFFF;
    margin-left: 1em;
    padding-bottom: 5em;
  }


  /* Style for anchor element within the section element */
  section a {
    color: #FFFFFF;
  }

  /* Style for paragraph element within the section element */

  section p {
    margin-left: 0;
  }

  /* Style to left align header */

  header {
    text-align: left;
  }

  /* Style for nav specifies a float, margin, and width */
/*
  nav {
    float: right;
    margin-top: -7em;
    margin-right: 3em;
    margin-bottom: 0;
    width: 65%;
  }
  */


  /* Style for navigation list items specifies a border radius, border, margin, width, and padding */
/*
  nav li {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 20%;

    border-radius: 0;
    border-top: solid #000000;
    border-bottom: solid #000000; 
  }
  */

  /* Style for navigation links specifies display and padding */
/*
  nav li a {
    display: inline-block;
    padding: 0.7em;
    text-shadow: 0.2em 0.1em #3D3D35;
  }
  */

  /* Style specifies margin and padding for the unordered list within the nav */
/*
  nav ul {
    margin: 0;
    padding-left: 0.50%;
    padding-right: 0.50%;
    color: white;
  }
  */

  /* Style specifies border, shadow, margin, and padding for main element */
  main {
    /* border-style: none;
    box-shadow: 0.5em 0.5em 0.5em #404040;
    margin-bottom: 1em;
    margin-top: 1em; */

    background-color: #1D1D1C;
  }

  /* Style specifies left and right padding for paragraph elements within the main element */
  main p {
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  /* Style rules for pseudo-classes*/
  /*
  nav li a:link {
    color: #FFFFFF;
  }*/
/*
  nav li a:visited {
    color: #CCCCFF;
    ;
  }
  */
/*
  nav li a:hover {
    color: #9D9D93;
    ;
    font-style: italic;
  }
/*
  /* Style specifies a gradient for the body element */

  body {
    /* background: -moz-lineargradient(#FFFFFF, #FFFFFF); */
    /* Firefox */
    /* background: -o-linear-gradient(#FFFFFF, #FFFFFF); */
    /* Opera */
    /* background: -webkit-lineargradient(#FFFFFF, #FFFFFF); */
    /* Chrome, Safari */
    /* background: linear-gradient(#FFFFFF, #FFFFFF); */
    /* background-attachment: fixed; */

    background-color: #ffffff;

  }

  /* Style applies height and opacity to images within figure element */

  figure img {
    height: 15em;
    opacity: 0.7;
  }

  /* Style removes transparency on hover */
  figure img:hover {
    opacity: 1;
  }

  /* Style applies color to h1 element */


  h1 {
    color: #FFFFFF;
  }

  /* Style specifies a background color, margin, and padding for footer element */

  footer {
    background-color: #2A2A2A;
    margin-top: -0.2em;
    padding: 2em;
  }

  /* Style for main article h2 element */

  main article h2 {
    color: #000000;
  }

  /* Style for table element */

  table {
    background-color: #FFFFFF;
    width: 85%;
  }

  /* Style for caption element */

  caption {
    color: #FFFFFF;
  }

}

/* Style for article element */

article {
  background-color: #C1D9CA;
  float: left;
  margin: 0.5%;
  padding: 0.5%;
  text-align: center;
  width: 31%;
}

/* Style for image element contained within the main article element */

main article img {
  border: solid 0.1em #1D1D1C;
  margin-left: auto;
  margin-right: auto;
}

/* Style for paragraph element contained within the main article element */

main article p {
  color: #000000;
  margin-top: 2%;
  padding: 1%;
  text-align: left;

}

/* Style for unordered list element contained within the main article element */

main article ul {
  text-align: left;
}

#image {
	height: 250px;
	margin-bottom: 1em;	
	margin-left: 105px;
}
/* the styles for the carousel */
.button_panel	{
	height: 125px;
	padding: 50px 15px;
	float: left;
}
.button_panel img {
	width: 25px;
	height: 25px;
}
#display_panel {
	width: 300px;
	overflow: hidden;
	float: left;			
	height: 125px;
}
#image_list {
	position: relative;	
	left: 0px;
    width: 900px;
    list-style: none;  
}
#image_list li	{
	float: left;
	width: 100px;
}
#image_list li img	{
	width: 95px;
	
}

