@import url("../style.css");

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio,
.video {
  margin: 2em 0;
}

h2 {
  margin-bottom: 1em;
  font-size: 1.5em;
  text-align: center;
}

audio,
video {
  width: 80%;
  height: auto;
  outline: none;
  padding-left: 150px;
}

@media (max-width: 768px) {
  audio,
  video {
    width: 100%;
  }
}
